body {
  background-color: black;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#bulb-container {
  height: 250px;
  width: 250px;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#bulb-top {
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 30px;
  z-index: 2;
}
#filament-container {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#filament1,
#filament2,
#filament3 {
  width: 3px;
  height: 100px;
  background-color: grey;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  top: -80px;
}
#filament1 {
  rotate: -30deg;
}
#filament3 {
  rotate: 30deg;
}
#bulb-bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: grey;
  width: 100px;
  height: 70px;
  margin-top: -120px;
}
h1 {
  text-align: center;
  color: white;
}
button {
  margin: 30px;
  padding: 30px;
  border-radius: 16px;
  font-size: 20px;
}
